html, body {
  font-family: sans-serif;
  height: 100%;
}

#whole_content {
   width: 100%;
   height: 100%
}

#regionselector_area {
   border: 1px solid #000fff;
   background-color: ##fcf8e3;
   padding: .5em;
   float: left;
   height: auto;
   width: 99%;
   display: block;
   overflow: auto;
}

#tempestdata_area {
   display: block;
/*   border: 4px solid #ffaa77;
   background-color: #ffee88;  */
   padding: .5em;
   float: left;
   height: auto;
   width: 100%;
   overflow: auto;
}
